

    /* Circular progress styles */
    .circle {
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: conic-gradient(#ff6600 var(--percent), #333 var(--percent));
    }
    .circle-inner {
      position: absolute;
      width: 80px;
      height: 80px;
      background-color: #111;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .adobe {
  filter: invert(0) brightness(2) contrast(13)  blur(0.1px);
  
}

 